h1 {
  color: green;
}

h2 {
  color: #5fcffc;
  background-color: rgb(89, 151, 0);
}

p {
  background-color: black;
  color: white;
}

button {
  color: red;
  background-color: pink;
}
