h1 {
    text-align: center;
    width: 50%;
    font-weight: normal;
    text-decoration: blue underline;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
}
p {
    line-height: 2;
}